html{
  scroll-behavior: smooth;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}


body{
    /* background-image: url(images/josh-rose-trYl7JYATH0-unsplash.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* GLOBAL STYLES */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-size: 5em;
  font-family: 'Bowlby One SC', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.0s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 43% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.type{
    font-size: 5em;
}


@media only screen and (max-width: 600px) {
  .typewriter h1 {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Bowlby One SC', cursive;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.0s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .typewriter{
    margin-top: 40%;
  }

  .clock{
    margin-top: 30%;
    font-size: smaller;
  }

  .know-us{
    width: 20%;
    font-size: 12px;
  }
}


.typewriter{
    padding: 20% 10% 0% 10%;
    display: flex;
    justify-content: center;
}

.know-us-link{ 
    text-align: center;
    padding: 90px;
}

.know-us{
    /* background-color: #fff; */
    margin-top: 30%;
    text-align: center;
    width: 50%;
    justify-content: center;  
}


.goals{
  background: linear-gradient(110deg, #211F1F 60%, #424141 60%);
  margin-top: 20%;
  text-align: center;
  color: #fff ;
  padding: 30px;
}

/*////////////////////////////////////    Glowing texts     //////////////////////////////////// */
.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #005086, 0 0 40px #005086, 0 0 50px #005086, 0 0 60px #005086, 0 0 70px #005086;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #318fb5, 0 0 40px #318fb5, 0 0 50px #318fb5, 0 0 60px #318fb5, 0 0 70px #318fb5, 0 0 80px #318fb5;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////// */

.clock{
  color: #fff ;
  font-family: 'Orbitron', sans-serif;
  padding-top: 10%;
  margin-left: 07%;
  font-size: 2em;
}


.img-div{
  margin-top: 20%;
  margin-top: 20%;
  text-align: center;
  color: #fff ;
  padding: 30px;
}




/* the footer section  */
footer{
  text-align: center;
  background-color: #211F1F;
  color: #fff;
  padding: 30PX;
  margin-top: 30%;
}


.avatar-div{
  padding: 30px ;
}

.avatar{
  height: 60px;
  width: 60px;
}
/* /////////////////////////////////////// */


/* Loading animations */
body {
  background-color: #eee;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
/* /////////////////////////////////////////////////// */



/* Button for scrolling up in the page  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  /* border-radius: 4px; */
  rotate: 180deg;
}

.top-logo{
  height: 50px;
  width: 50px;
  rotate: 180deg;
}


/* Navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  position: fixed;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
